.node-list {
  padding: 10px;
  flex: 1;
  overflow: scroll;
}

.node-list {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-gap: 1em 1em;
  }

  .node {
    user-select: none;
    list-style-type: none;
    text-align: center;

    .icon {
      max-width: 100px;
      max-height: 100px;
    }

    .label {
      display: inline-block;
      text-align: center;
    }

    &:hover {
      background: hsl(205, 51%, 92%);
    }

    &.selected {
      background: hsl(206, 52%, 82%);
      outline: 1px solid hsla(205, 51%, 62%, 1);
    }

    .rename {
      width: 100%;
    }
  }
}
