.navigation-bar {
  flex: none;
  height: 30px;
  line-height: 30px;
  background: white;
  display: flex;
}

.navigation-bar .buttons {
  flex: none;
}

.navigation-bar .buttons>button {
  padding: 6px;
  border: 0;
}

.breadcrumb li {
  display: inline-block;
  padding-left: 10px;
  position: relative;
  margin: 0 3px;
}

.breadcrumb li span:hover {
  color: #81b0c0;
  cursor: pointer;
}

.breadcrumb li:not(:first-child):before {
  content: "▸";
  position: absolute;
  margin-left: -13px;
  color: #969696;
}

.breadcrumb li:first-child {
  padding-left: 0;
}

.controls-bar {
  flex: none;
  height: 30px;
  line-height: 30px;
  background: #e4e9ec;
  padding-left: 10px;
}
