.navigation-bar {
  flex: none;
  height: 30px;
  line-height: 30px;
  background: white;
  display: flex;
  border: 1px solid #e2e2e2;
}

.navigation-bar .buttons {
  flex: none;
}

.navigation-bar .buttons>button {
  padding: 6px 6px 4px;
  border: 0;
}

.breadcrumb li {
  display: inline-block;
  padding-left: 10px;
  position: relative;
  margin: 0 3px;
}

.breadcrumb li span:hover {
  color: #81b0c0;
  cursor: pointer;
}

.breadcrumb li:not(:first-child):before {
  content: "▸";
  position: absolute;
  margin-left: -13px;
  color: #969696;
}

.breadcrumb li:first-child {
  padding-left: 0;
}

.controls-bar {
  flex: none;
  height: 80px;
  line-height: 30px;
  background: #f5f6f7;
  padding-left: 1px;
}

.control-button {
  border: 1px solid transparent;
  width: 52px;
  font-size: 11px;
  background: #f5f6f7;
}

.control-button:hover {
  border: 1px solid #7fbae6;
  background: #e5f1fa;
}

.controls-bar img {
  max-width: 100%;
  max-height: 100%;
}
