.explorer {
  padding: 10px;
  flex: 1;
}

.explorer li {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
  user-select: none;
}

.explorer li:hover {
  background: #c3d6e8;
}
